.app {
  background-color: #000000;
  height: 100%;
}
.bg2 {
  background-image: url("C:\Users\copte\Desktop\upbeatreact\public\images\background2.png");
  height: 100vh;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Button01 {
  position: relative;
  top: 180px;
  margin-left: 700px;
}

/*startButton*/
.startButton {
  width: 60%;
  appearance: none;
  background-color: #00f181;
  border-radius: 40em;
  border-style: none;
  box-shadow: #2aff9c 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.startButton:hover {
  background-color: #6eff14;
  box-shadow: #25ff80 0 -6px 8px inset;
  transform: scale(1.325);
}

.startButton:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .startButton {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.textlinkstart {
  font-size: 70px;
  font-family: "Playfair Display", serif;
  font-style: inherit;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/*tutorialButton*/
.tutorialButton {
  position: relative;
  top: 40px;
  width: 60%;
  appearance: none;
  background-color: #ffff1c;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ffc125 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tutorialButton:hover {
  background-color: #ffb700;
  box-shadow: #ff8409 0 -6px 8px inset;
  transform: scale(1.325);
}

.tutorialButton:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .tutorialButton {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.textlinktutorial {
  font-size: 70px;
  font-family: "Playfair Display", serif;
  font-style: inherit;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/*exitButton*/

.exitButton {
  position: relative;
  top: 80px;
  width: 60%;
  appearance: none;
  background-color: #d92511;
  border-radius: 40em;
  border-style: none;
  box-shadow: #e83119 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.exitButton:hover {
  background-color: #f3718b;
  box-shadow: #f15aa3 0 -6px 8px inset;
  transform: scale(1.325);
}

.exitButton:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .exitButton {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

.textlinkexit {
  font-size: 70px;
  font-family: "Playfair Display", serif;
  font-style: inherit;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
